<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>aliceのポートフォリオサイト</title>
    <link rel="stylesheet" href="/css/stylesheet.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon-180x180.png">
  </head>
  <body>
    <header>
      <div class="header-container">
        <div class="header-left">
          <p>
            <a href="/" class="fa-solid fa-house fa-2xl"></a>
          </p>
        </div>
        <div class="header-right">
          <a href="about">ABOUT</a>
          <a href="works">WORKS</a>
          <a href="contact">CONTACT</a>
        </div>
      </div>
    </header>
    <main>
      <div class="main-container">
        <h1>ABOUT ME</h1>
        <div class="photos">
          <div class="myPhoto">
            <img src="/images/myphoto.png" alt="my photo">
            <p>にんげんのすがた</p>
          </div>
          <div class="myIcon">
            <img src="/images/aliceicon.jpg" alt="my icon for social medias">
          <p>ソーシャルメディアのすがた</p>
          </div>
        </div>
        <h2>-私とプログラミング</h2>
        <div class= "my-history">
          <p>
            私はStartupWeekend Kitakyusyu 2022 にてチームリーダーとして優勝経験があります。<br>
            当時、私たちのチームは公立の小学校に支給されているPCが登下校中に破損しやすい課題について、ゲーム感覚でPCを丁寧に扱えるアイデアを提案しました。<br>
            審査員の方々には、課題の着眼点を高く評価していただけましたが、技術力のなさによって「具体的に作りたいものが伝わらない」課題が残りました。<br>
            その体験から、私は自分が欲しいものは自分で作れて、かつ、予算の根拠もお客様に説明できるようになりたいと思いました。<br>
            これが私とプログラミングとの出会いです。
          </p>
        </div>
        <h2>-私の強みと展望</h2>
        <div class="my-future">
          <p>
            私はこれまでサービス業、小売業、教育業（民間の学習塾および、公立の学校教材販売業）を幅広く渡り歩いてきました。<br>
            いずれの職場でもお客様や現場で働く方々へのヒアリングを得意としており、「相手の心に寄り添う」ことに高い評価をいただいていました。<br>
            エンジニアとしての実務経験は1年しかありませんが、これからの時代に必要とされる、技術者の方々とそうでない方々の橋渡しになれる、そんなエンジニアになるべく日々研鑽を重ねています。<br>
          </p>
        </div>
      </div>
    </main>
    <footer>
      <div class="container">
        <h6>© 2023 Ai Okada</h6>
      </div>
    </footer>
  </body>
</html>