<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>aliceのポートフォリオサイト</title>
  <link rel="stylesheet" href="/css/stylesheet.css" type="text/css">
</head>

<body>
  <header>
    <div class="container">
      <div class="header-right">
        <a>ABOUT</a>
        <a>WORKS</a>
        <a>CONTACT</a>
      </div>
    </div>
  </header>
  <main>
    <div class="container">
      <div class="mainImage">
        <h1>メイン部分の予定地</h1>
      </div>
    </div>
  </main>
  <footer>
    <div class="container">
      <h1>フッター部分の予定地</h1>
    </div>
  </footer>
</body>

</html>