body {
    margin: 0;
}

header {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: rgb(245, 245, 245, 0.1)
}

.header-container {
  height: 90%;
  width: 100%;
}

.header-right {
  margin-top: 10px;
  float: right;
}

.header-left {
  float: left;
}

header a {
  padding-left: 10px;
  font-size: 30px; 
}

body {
  color: navy;
}

.mainImage {
  position: relative;
  height: 500px;
  background-image: url('/images/botanical.png');
}

.introduce {
  position: absolute;
  top: 20px;
  right: 15px;
}

footer {
  height: 200px;
  background-color: green;
}
